$--colorGlobal: #41b294;
$--colorSecondary1: #f6ba35;
$--colorText: #252525;




.searchPage {
    margin-top: 40px;


   
    .searchContainer {
        padding: 30px 100px;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        gap: 30px;
        .item {
            &:nth-child(2) {
                grid-column: 2/20;
            }
        }
    }
}
@media all and ( max-width: 768px) {
    .searchPage {
        .searchContainer {
            .item:nth-child(1) {
                display: none;
            }
            .item:nth-child(2) {
                grid-column: 1/6;
            }
        }
    }
}