$--colorGlobal: #41b294;
$--colorSecondary1: #f6ba35;
$--colorText: #252525;


.instrutor {
    padding:  50px 0;
    
    .slickContainer {
        > div {
            padding: 15px 0;
        }
        button::before {
            color: $--colorGlobal;
            font-size: 30px;

        }
        ul {
            bottom: -20px;
            button::before {
                font-size: 16px;
            }
        }
    }
}